{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Forum - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<nav>
    <ul>
        <li><a href="/forum">Messages</a></li>
        {% if user.is_authenticated %}
        <li><span class="right-toolbar"><span class="username">{{ user }}</span><a href="/logout">Logout</a></span></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {% endif %}
    </ul>
</nav>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>